mixin ab
    .ab
        .container
            .row
                .col-2
                    .gal__desc
                        p.gal-desc Home / About
            
            .ab__main
                .row
                    .col-4.ml-auto
                        .ab__content--first.ml-1
                            h2.ab__title About Me
                            p.ab__text In 1988, after moving to Auckland, New Zealand with her husband Kel (who launched New Zealand’s first commercial television network) Anne established her first professional studio, specializing in classic portraiture of children and families. She continued her portraiture for the first 10 years of her now 30-year career. In 1992 her first greeting card collection and calendar was introduced in New Zealand. Both became an instant success.
                    .col-4.mr-auto
                        .ab__image.ml-3
                            img.ab-image(src="../images/about/photographer.png", alt="photographer")
            .ab__main--blocks
                .row
                    .col-4.ml-auto
                        .ab__image.ml-1
                            img.ab-image(src="../images/about/family.png", alt="family")
                    .col-4.mr-auto
                        .ab__content.ml-3
                            h2.ab__title My family
                            p.ab__text.ab__text--second Photographer Anna Popova imagery singularly captures the beauty, purity and vulnerability of children … embodying her deeply held belief that every child deserves to be “protected, nurtured and loved”. In 1988, after moving to Auckland, New Zealand with her husband Kel (who launched New Zealand’s first commercial television network) Anne established her first professional studio, specializing in classic portraiture of children and families.
            .ab__main--blocks
                .row
                    .col-8.mx-auto
                        p.ab__text.ab__text--third.mt-n1.ml-1 Embassy Dental’s unique approach to their navigation bar makes it stand out as one of the best dental website designs for 2018. Look how all the navigation items are associated with a memorable icon. At a glance, it’s easy to pick out where to click to schedule an appointment, learn about a doctor, or find a location. In addition to the navigation, more icons highlight specialty services, smile galleries, and emergency dentistry. Clear calls to action encourage patients to schedule an appointment or download new patient forms.
                .row
                    .col-8.mx-auto
                        .ab__image.ml-1.mt-5
                            img.ab-image(src="../images/about/photographer-two.png", alt="photographer-two")
            .ab__main--blocks
                .row
                    .col-4.ml-auto
                        .ab__content--four.ml-2
                            .ab__textblock.d-flex
                                h2.ab__letter L 
                                p.letter__text ove isn't just beautiful. You know that.
                            p.ab__text.mt-n1.mr-3 Love-something big, something lasting, something, yeah, we'll say it, terrifying. It takes courage to walk down a long aisle and out into a new life together. Love is Fearless. Your wedding photos should be, too. That's why we're here. We bring together fearless couples and passionate.
                    .col-4.mr-auto
                        .ab__image.ml-2
                            img.ab-image(src="../images/about/children.png", alt="children")
        hr.ab__line
