.ab {
  font-family: 'Lora', serif;
  &__main {
    margin-top: 76px;
    &--blocks {
      margin-top: 100px;
    }
  }
  &__content {
    &--first {
      margin-top: 58px;
    }
    &--four {
      margin-top: 143px;
    }
  }
  &__title {
    font-size: 64px;
    line-height: 76px;
    color: #212121;
  }
  &__text {
    margin-top: 17px;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Merriweather', serif;
    color: #909090;
    &--second {
      margin-top: 33px;
    }
    &--third {
      line-height: 35px;
    }
  }
  &__letter {
    font-family: 'Merriweather', serif;
    font-size: 75px;
    line-height: 34px;
    color: #909090;
  }
  &__line {
    margin-top: 144px;
    height: 1px;
    background-color: #000000;
    border: 0px solid #000000;
    margin-bottom: 0px;
  }
}

.letter__text {
  margin-top: -16px;
  margin-right: 62px;
  margin-left: 12px;
  font-size: 20px;
  line-height: 34px;
  color: #909090;
  font-family: 'Merriweather', serif;
}
