.footer {
  font-family: 'Lora', serif;
  color: #212121;
  &__title {
    margin-top: 150px;
    font-size: 42px;
    line-height: 76px;
    text-align: center;
  }

  &__form {
    margin-top: 25px;
  }
  &__input {
    width: 470px;
    height: 60px;
    background: #f4f4f5;
    border-radius: 4px;
    border: none;
    padding-top: 2px;
    padding-left: 19px;
    font-size: 16px;
    line-height: 34px;
    color: #909090;
    font-family: 'Merriweather', serif;

    &:focus {
      font-family: 'Merriweather', serif;
      font-size: 16px;
      line-height: 34px;
      color: #909090;
      outline: none;
    }
  }
  &__button {
    margin-left: 13px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    width: 175px;
    height: 60px;
    background: #26c6da;
    border-radius: 4px;
    font-family: 'Lora', serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.4s linear;
    &:hover {
      background: white;
      color: #26c6da;
      border: 1px solid #26c6da;
      transition: all 0.4s linear;
    }
  }
  &__adress {
    margin-top: 58px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #212121;
  }
  &__copy {
    margin-top: 155px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #909090;
    margin-bottom: 150px;
  }
  &__icon {
    margin-top: 60px;
    color: #26c6da;
    font-size: 46px;
  }
}

.footer__input::-webkit-input-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 34px;
  color: #909090;
}

.footer__input::-moz-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 34px;
  color: #909090;
}

.footer__input:-moz-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 34px;
  color: #909090;
}

.footer__input:-ms-input-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 34px;
  color: #909090;
}

.footer__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #f4f4f5;
  -webkit-text-fill-color: #909090;
}
