.tst {
  font-family: 'Merriweather', serif;

  &__main {
    margin-top: 210px;
  }
  &__block {
    margin-top: 100px;
    &--two {
      margin-top: 78px;
    }
    &--four {
      margin-top: 214px;
    }
  }
  &__content {
    margin-top: 77px;
    &--two {
      margin-top: 109px;
    }
    &--third {
      margin-top: 109px;
    }
    &--four {
      margin-top: 24px;
    }
  }
  &-title {
    font-size: 55px;
    line-height: 34px;
    &--four {
      font-size: 55px;
      line-height: 58px;
    }
  }
  &-text {
    margin-top: 26px;
    font-size: 20px;
    line-height: 34px;
    color: #909090;
    &--four {
      line-height: 40px;
    }
  }
  &__link {
    &--two {
      margin-top: 1px;
    }
  }
  &-link {
    color: #26c6da;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
  }
  &__line {
    margin-top: 220px;
    height: 1px;
    background-color: #000000;
    border: 0px solid #000000;
    margin-bottom: 105px;
  }
}

.tst__arrow {
  margin-left: 12px;
}
