mixin con
    .con
        .container
            nav.main__nav.nav
                .row.d-flex.align-items-center
                    .col-3
                        .nav__logo
                            a(href="#home")
                                img(src="../images/nav/logo.svg", alt="letter_logo")
                    .col-5.offset-4
                        ul.nav__menu.menu.d-flex.justify-content-between
                            li.nav__item
                                a.menu-item(href="index.html") Home
                            li.nav__item
                                a.menu-item(href="gallery.html") Gallery
                            li.nav__item
                                a.menu-item(href="about.html") About me
                            li.nav__item
                                a.menu-item(href="testimonials.html") Testimonials
                            li.nav__item
                                a.menu-item.active(href="contact.html") Contact
                    .col-12
                        hr.nav__line
        .container
            .row
                .col-2
                    .gal__desc
                        a.gal--linkdesc Home / Contact
            .row
                .col-4
                    .con__info.info
                        .info__block
                            .row
                                .col-12
                                    .info__title
                                        p.info-title Call us:
                                    .info__link.mt-n1
                                        a(href="tel:+1800 234 89 08").info-link +1800 234 89 08
                        .info__block
                            .row
                                .col-12
                                    .info__title.info__title--two
                                        p.info-title Email us:
                                    .info__link
                                        a(href="mailto:annpopova@gmail.com").info-link annpopova@gmail.com
                        .info__block
                            .row
                                .col-12
                                    .info__title.info__title--third
                                        p.info-title Address:
                                    .row
                                        .col-10
                                            .info__link.mt-2
                                                a(href="#").info-link.info-link--third 7480 Mockingbird Hill undefined Ironville, Oklahoma 41284 United States
                        .info__block
                            .row
                                .col-12
                                    .info__title.info__title--four
                                        p.info-title Get social:
                                .col-3
                                    .info__links.d-flex.justify-content-between
                                        .info-link
                                            a(href="https://www.instagram.com")
                                                i.info__icon.fab.fa-instagram
                                        .info-link.info-link--right
                                            a(href="https://www.facebook.com")
                                                i.info__icon.fab.fa-facebook-f
                .col-7.offset-1
                    .form.ml-3
                        form(action="", method="get")
                            .form-group
                                .form__title
                                    h3.form-title Write to me
                                .form__text
                                    p.form-text Thank you for your interest in my work! Please contact me with any questions or to schedule a time to discuss your vision.
                                .row
                                    .col-6
                                        .form__label
                                            label(for='name') Name
                                        input#name.form-control(type='text', placeholder = 'Type your name', name='name')
                                    .col-6
                                        .form__label.ml-3
                                            label(for='email') Email
                                        input#email.ml-3.form-control(type='email', placeholder = 'Type your email',name='email')
                                .row
                                    .col-6
                                        .form__label.form__label--phone
                                            label(for='phone') Phone number
                                        input#phone.form-control(type='tel', placeholder = 'Type your phone number',name='phone')
                                        
                                    .col-6
                                        .form__label.form__label--phone.ml-3
                                            label(for='inet') How did you find me?
                                        select#inet.form-control(name='find: ').ml-3
                                                option(value disabled selected) Make your choice
                                                option Facebook
                                                option Instagram
                                                option Friends
                                    .col-12
                                        .form__label.form__label--txt
                                            label(for='message') Message
                                        textarea#message.form-control.form-control--txt(rows='3', placeholder = 'Type your message', name='message')
                                    .col-12
                                        button.form__btn(type='submit') Send message
        hr.info__line

                               


                        
                        

                                        
                                           
                                    
                                                
