.container
    footer.footer
        .row.d-flex.flex-column.align-items-center
            .col-12
                .footer__title
                    h2.footer-title Stay connected
            .col-12
                form.footer__form.action(action="" method='get')
                    .footer-form.row.d-flex.justify-content-center
                        input.footer__input(type='email', name = 'email' placeholder = 'E-mail')
                        button.footer__button(type="submit") Subscribe
            .col-2
                .footer__links.ml-4.mr-4.d-flex.justify-content-around
                    .footer__link
                        a(href="https://www.facebook.com")
                            i.footer__icon.fab.fa-facebook-f
                    .footer__link
                        a(href="https://www.instagram.com")
                            i.footer__icon.fab.fa-instagram
            .col-4
                .footer__adress
                    adress.footer-adress 2464 Valley View Ln undefined Coppell, Virginia 88719 United States
            .col-12
                .footer__copy
                    p.footer-copy Copyright 2019. All right reserved.