mixin main
    main.main
        include _nav.pug
        .container
            .main__content.tabs__content.active
                .row
                    .col-10
                        .main__title
                            h1.main-title I have the heart of an 
                            | artist and the eye of a photographer
                    .col-8
                        .main__subtitle
                            p.main-subtitle I'm Ann, a natural light photographer based in the San Francisco East Bay Area who believes that our stories shape who. Being creative is as important to me as breathing and I would love to share this with you!
                    .col-12
                        .main__link
                            a.main-link(href="about.html") About me
                                img.link__arrow(src="../images/main/arrow.svg", alt="arrow")
                .main__images--first
                    .row
                        .col-6
                            .main__block.block
                                a.block__link.h-750(href="#")
                                    img.block__image(src="../images/main/maternity.jpg", alt="maternity")
                                    p.block__text Maternity
                        .col-6
                            .main__block.ml-3
                                a.block__link.h-750(href="#")
                                    img.block__image(src="../images/main/child.jpg", alt="child")
                                    p.block__text Love
                        .col-12
                            .main__block
                                a.block__link.w-1380(href="#")
                                    img.block__image(src="../images/main/husband.jpg", alt="husband")
                                    p.block__text Family
                .main__images--second
                    .row
                        .col-6
                            .main__block
                                a.block__link.h-750(href="#")
                                    img.block__image(src="../images/main/baby.jpg", alt="baby")
                                    p.block__text Children
                        .col-6
                            .main__block.ml-3
                                a.block__link.h-750(href="#")
                                    img.block__image(src="../images/main/hands.jpg", alt="hands")
                                    p.block__text Feelings
                .main__images--second
                    .row
                        .col-6
                            .image__content--first
                                h3.image-title Hi, there!
                                p.image-subtitle I'm Ann, a natural light photographer based in the San Francisco East Bay Area who believes that our stories shape who we are and who we will become. I encourage lots of play, lots of love, and lots of everything that gets you lost in the moment. I'm not focused on perfection, I'm more about connection and telling your story than anything else. So, if you're down to earth, maybe have a bit of a potty mouth and are willing to have a major snuggle sesh with your loved ones, then we're probably a good match!
                                    
                        .col-6
                            .main__block.ml-3
                                img.block__image(src="../images/main/girl.jpg", alt="girl")
                                    
                .main__images--second
                    .row        
                        .col-6
                            .main__block
                                img.block__image(src="../images/main/photographer.jpg", alt="photographer")
                        .col-6
                            .image__content--second.ml-3
                                h3.image-title My blog
                                p.image-subtitle Your Joy. Your Love. Your Moments. 
                                p.image-text.mr-5 These are your memories. The legacy you’ll pass down for generations. I love telling your story and live for all the little joys in life. I want you to be exactly you who are and encourage you to cuddle and play with your loved ones. Life is made up of all kinds of mini-moments that add up to one really great big adventure...
                            .image__link.ml-3
                                a.main-link(href="gallery.html") Read more
                                img.image__arrow(src="../images/main/arrow.svg", alt="arrow")

        include _footer.pug
                        
                                

                                
                            
                            
