.container
    nav.main__nav.nav
        .row.d-flex.align-items-center
            .col-3
                .nav__logo
                    a(href="#home")
                        img(src="../images/nav/logo.svg", alt="letter_logo")
            .col-5.offset-4
                .nav__menu.menu.d-flex.justify-content-between
                        .nav__item
                            a.menu-item(href="#home") Home
                        .nav__item
                            a.menu-item(href="#gallery") Gallery
                        .nav__item
                            a.menu-item(href="#about Me") About me
                        .nav__item
                            a.menu-item(href="#testimonials") Testimonials
                        .nav__item
                            a.menu-item(href="#Contact") Contact
            .col-12
                hr.nav__line